<div class="sidebar">
  <img width="136" height="136" align="center" src="../../images/couchdb-logo.png"/>
  <h2>Subscriptions</h2>
  <ul id="subscriptions"></ul>
  <p/>
  <h2>Archives</h2>
  <ul>
    <li>
      <div id="archives"></div>
    </li>
  </ul>
  <p/>
  <h2>Credits</h2>
  <ul>
    <li>CSS by <a href="http://www.kriesse.de">Kriesse</a>, slightly customized by <a href="http://github.com/KlausTrainer">Klaus Trainer</a></li>
  </ul>
  <p/>
  <h2>Feeds</h2>
  <ul id="feeds">
    <li>
      <a href="{{feedPath}}">Atom Feed</a>
    </li>
  </ul>
  <div class="transition" style="background-color: #FDFDFD;"></div>
  <div class="transition" style="background-color: #FBFBFB;"></div>
  <div class="transition" style="background-color: #FAFAFA;"></div>
  <div class="transition" style="background-color: #F8F8F8;"></div>
  <div class="transition" style="background-color: #F7F7F7;"></div>
  <div class="transition" style="background-color: #F5F5F5;"></div>
  <div class="transition" style="background-color: #F4F4F4;"></div>
  <div class="transition" style="background-color: #F2F2F2;"></div>
  <div class="transition" style="background-color: #F1F1F1;"></div>
  <div class="transition" style="background-color: #EFEFEF;"></div>
</div>
