@font-face {
  font-family: 'Nunito';
  font-style: normal, italic;
  font-weight: 300;
  src: local('Nunito-Light'), url('../fonts/Nunito-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url('../fonts/Nunito-Regular.ttf') format('truetype');
}

body {
  background-color: #EEE;
  background-image: url('../images/leather.png');
  background-repeat: repeat;
  color: #424037;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  /* Compensate Header */
  margin-top: 36px;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #3E3E2E; }

h3 a:link {
  text-decoration: none;
  background: black;
  display: inline-block;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;

  /* Border Radius */
  -webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
     -moz-border-radius: 12px; /* FF1-3.6 */
          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* Gradient */
  background-color: #0089E5;

  text-shadow: 0px 1px 1px #222; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

h3 a:hover, h3 a:visited, h3 a:visited:hover {
  color: white;
  text-shadow: 0px 2px 1px #222; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

h4 {
  text-align: center;
  font-size: 22px;
}
h4 a:link, h4 a:visited {
  text-decoration: none;
  color: black;
}
h4 a:hover, h4 a:visited:hover {
  color: #0089E5;
}

#nav-header {
  /* Gradient */
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #444444, #222222); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #444444, #222222); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #444444, #222222); /* IE10 */
  background-image:      -o-linear-gradient(top, #444444, #222222); /* Opera 11.10+ */
  background-image:         linear-gradient(top bottom, #444444, #222222);

  /* Margins */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;

  /* Box Shadow */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); /* FF3.5 - 3.6 */
          box-shadow: 0 1px 2px rgba(0,0,0,0.5); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

  /* Layer position */
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-header a {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #D9D9D9;
  text-shadow: 0 1px 0 black; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  text-decoration: none;
  margin-right: 14px;
}

#nav-header a:hover {
  color: white;
}

#nav-header a:first-child {
  padding-left: 26px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAABuUlEQVQoz7VSPUhbURT+znsvioo4OBWkUgTRQeqmoFApLdihU1BxKCJO/YEOdRAFfxYHW5xcOrQFB3GooMTFKGqKwb8O0mLS1CQqgoImKtG+vJfw3nG4F30vFTfPgcu5h+9857vcD7j3YMfpDC23sUSHdWxNb97BNQGGV73wH8bPIynfTf+bG/YLQLzqdH9vDvlAcja5s1dzsp74HXj4n7JoR4Kn3gC7A7u9wParE05wkn0vXBoH1dhktulL/eNIdF57BkQb4m3JmrJpT4WRdfAFykOpwDy0QGVYj9giQ6mlR8CWL6T/qAAABQh+KPy70vPk+Wpfcdgo0EmkWVyyE+ypfXncVfgn+B4gf6ln0f92aGNlxtPMDHIKJ8rM/GvNVJeOh58S8E4ds2bbtQm4YeKNdNTS+b1XGbY1YMwCdFUFSLCwBQUEBoGAtAYM24AiRtPQRdJal7fIm5/6rJPomJJcAg0JvLwc+QoTWbNfDiLj/mtD2sCWbiCkJcDMAZLbNQxDVtkc9yxnGARwgbjaJFYyx386gJ/QffD6gaeRbcuWg2eJFrYUZXtrIZZ3rRPA6HUVQxk+3mLCK6S2x2qHDIsuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 0px -2px;
  background-size: 20px 20px;
}

#nav-header a.nav-selected {
  color: white;
}

#posts {
  background-color: #FFF;
  width: 800px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

.feed-icon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.entry {
  list-style: none;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entry li {
  list-style: disc;
}

a, a:link, a:visited {
  color: #BD101D;
  text-decoration: underline;
}

a:hover, a:active {
  color: #F00;
  text-decoration: underline;
}

img.face {
	float: right;
	margin-top: -3em;
}

/* Posts
-------------------------------------------------------------- */

.body {
	margin-bottom: 4em;
	margin-left: 20px;
	margin-right: 20px;
  font-size: 15px;
}

.body .by {
  color: #777;
  text-align: center;
  font-size: 13px;
}

.body > * {
  color: #333;
  line-height: 18px;
}

.body > img {
  text-align: center;
}

.body .center img,iframe {
  display: block;
  width: auto;
  margin: auto;
}

.enclosure {
  margin-left: 2px;
  vertical-align: middle;
}

.type-icon {
  height: 16px;
  vertical-align: bottom;
  width: 16px;
}

#loader {
  margin-left: 20px;
}
